<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.edu.mapper.VideoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.atguigu.edu.entity.VideoEntity">
        <id column="id" property="id" />
        <result column="course_id" property="courseId" />
        <result column="chapter_id" property="chapterId" />
        <result column="title" property="title" />
        <result column="video_source_id" property="videoSourceId" />
        <result column="video_original_name" property="videoOriginalName" />
        <result column="sort" property="sort" />
        <result column="play_count" property="playCount" />
        <result column="is_free" property="free" />
        <result column="duration" property="duration" />
        <result column="status" property="status" />
        <result column="size" property="size" />
        <result column="version" property="version" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, course_id, chapter_id, title, video_source_id, video_original_name, sort, play_count, is_free, duration, status, size, version, gmt_create, gmt_modified
    </sql>

</mapper>
